# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist-info/

# Environments
.venv/
venv/
env/
.env/

# Logs & misc
*.log
.DS_Store

# PyInstaller build outputs
build/
dist/

# VS Code
.vscode/
*.code-workspace

# IDE
.idea/
*.swp
*.swo
*~

# Windows
Thumbs.db
*.exe
